.main-footer{
    padding-block-start: 2ch;
    color:white;
    background-color: #ddd0d1;
    padding-top: 1cm;
    position: relative;
    bottom: 0;
    width:100%; 
    color: black;   
}

.text-xs-center p {
    color:blue;
}